<div class="list-container">
  <div class="title-container">
    <h1 class="title">
      Polo {{businessDetails.name}}
    </h1>
    <p>
      Exibindo detalhes do polo {{businessDetails.name}}#{{businessDetails.id}}
    </p>
  </div>
  <div class="address-details form">
    <h3>Detalhes do Endereço</h3>
    <form [formGroup]="addressForm">
      <div class="form-group">
        <!-- <label for="cep">CEP</label>
        <input type="text" formControlName="cep" (blur)="consultCep()" mask="00000-000"> -->
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input type="text" matInput formControlName="cep" (blur)="consultCep()" mask="00000-000" maxlength="9" #cep>
          <mat-error *ngIf="addressForm.controls['cep'].hasError('required')">
            É preciso escrever um CEP.
          </mat-error>
          <mat-error *ngIf="addressForm.controls['cep'].hasError('invalidCep')">
            CEP inválido.
          </mat-error>
          <mat-hint>{{cep.value.length}} / 9</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="street">Nome da Rua</label>
        <input type="text" formControlName="street" class="street">
      </div>
      <div class="form-group">
        <label for="neighborhood">Bairro</label>
        <input type="text" formControlName="neighborhood">
      </div>
      <div class="form-group">
        <label for="state">Estado</label>
        <input type="text" formControlName="state">
      </div>
      <div class="form-group">
        <label for="city">Cidade</label>
        <input type="text" formControlName="city">
      </div>
    </form>

  </div>
  <div class="business-details form">
    <h3>Detalhes da Empresa</h3>
    <form [formGroup]="businessForm">
      <div class="form-group">
        <!-- <label for="name">Nome</label>
        <input type="text" formControlName="name"> -->
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="businessForm.controls['name'].hasError('required')">
            É preciso escrever um nome.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <!-- <label for="business">Business</label>
        <input type="text" formControlName="business"> -->
        <mat-form-field>
          <mat-label>Business</mat-label>
          <input type="text" matInput formControlName="business">
          <mat-error *ngIf="businessForm.controls['business'].hasError('required')">
            É preciso escrever um nome.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <!-- <label for="Valuation">Valuation</label>
        <input type="text" formControlName="valuation" mask="separator.2" thousandSeparator="." prefix="R$ "> -->
        <mat-form-field>
          <mat-label>Valuation</mat-label>
          <input type="text" matInput formControlName="valuation" mask="separator.2" thousandSeparator="." prefix="R$ ">
        </mat-form-field>
      </div>
      <div class="form-group">
        <!-- <label for="cnpj">CNPJ</label>
        <input type="text" formControlName="cnpj" mask="00.000.000/0000-00"> -->
        <mat-form-field>
          <mat-label>CNPJ</mat-label>
          <input type="text" matInput formControlName="cnpj" mask="00.000.000/0000-00" maxlength="18" #cnpj (input)="checkCnpjLength()">
          <mat-error *ngIf="businessForm.controls['cnpj'].hasError('required')">
            É preciso escrever um CNPJ.
          </mat-error>
          <mat-error *ngIf="businessForm.controls['cnpj'].hasError('invalidCnpj')">
            CNPJ inválido. Favor digitar 14 dígitos.
          </mat-error>
          <mat-hint>{{cnpj.value.length}} / 18</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="active">Ativo?</label>
        <select formControlName="active">
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </form>
  </div>
  <div class="buttons">
    <button class="back" (click)="goBack()">Voltar</button>
    <button class="save" (click)="saveChanges()">Salvar</button>
  </div>
</div>