<div class="table">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Nome</th>
      <td mat-cell *matCellDef="let item">{{item.name}}</td>
    </ng-container>
    <ng-container matColumnDef="business">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="business">Business</th>
      <td mat-cell *matCellDef="let item">{{item.business}}</td>
    </ng-container>
    <ng-container matColumnDef="valuation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="valuation">Valuation</th>
      <td mat-cell *matCellDef="let item">{{formatCurrency(item.valuation)}}</td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Situação</th>
      <td mat-cell *matCellDef="let item" class="icon-cell">
        <mat-icon [style.color]="item.active === 'false' ? '#6df473' : '#ff7573'">fiber_manual_record</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Ação</th>
      <td mat-cell *matCellDef="let item" class="icon-cell details-link">
        <a [routerLink]="['/details', item.id]">
          <mat-icon [style.color]="'#979797'">
            visibility
          </mat-icon>
        </a>        
      </td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <mat-paginator [length]="dataSource.data.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>